version: "3.8"
services:
  web:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./:/app
    command: >
      sh -c "npm install && npm start"
    environment:
      - PORT=5000
    ports:
      - "5000:5000"

  nginx:
    image: nginx:alpine
    depends_on:
      - web
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
